<!DOCTYPE html>

<head>
</head>
    <%- include("../component/header",{data:{title:"product list"}}) %>
<body>
    <%- include('../component/menu') %>

    <div class="container">
        <div class="row pt-5">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Name</th>
                    <td> <%= products.Name %> </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td> <%= products.Price %> </td>
                </tr>
                <tr>
                    <th>Discription</th>
                    <td> <%= products.Description %> </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 pt-4">
            <a href="/product/update/<%= products.id %>" class="btn btn-primary">Update</a>
            <form method="delete" action="/product/<%= products.id %>">
                <input type="submit" value="Delete" class="btn btn-danger mt-4">
            </form>
        </div>        
    </div>

    <%- include('../component/footer') %>
</body>

</html>